@model MVCEjercicio3_1Vistas.Models.Persona

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Impuestos</title>
</head>
<body>
    <div>
        
        <p>Persona 1 Id: @Model.IdPersona</p>
        <p>Nombre: @Model.Nombre</p>
        <p>Edad: @Model.Edad</p>
        <P>Profesion: @Model.Profesion</P>
        <p>Sueldo: @Model.Sueldo</p>
    </div>
</body>
</html>
